.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%; /* Soldan ve sağdan 5% padding bırakıyoruz */
  border-bottom: 1px solid #eee;
  z-index: 99;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: -0.40cm; /* 5 cm sola kaydırma */
}


.logo {
  width: 200px; /* İstediğiniz genişliği ayarlayabilirsiniz */
  height: auto;
}

/* Eğer h1 elementinin yazısını daha da sola çekmek isterseniz, h1 öğesinin margin'ini ayarlayabilirsiniz */
.header h1 {
  display: none; /* H1 etiketini gizliyoruz */
}
